<a href="https://colab.research.google.com/github/Nafi-10/pythonBeginners/blob/main/list_tuple_set_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of object in python:
1. Immutable Object
2. Mutable Object

*Immutable Object:*

Immutable objects cannot be changed after creation. Any operation that tries to modify them will create a new object instead.

1.int
2.float
3.string
4.bool
5.tuple

*Mutable Object:*

Mutable objects can be changed after they are created. This means you can modify their content (e.g., add, remove, or update elements) without changing their identity.

1.List
2.Set
3.Dictionary

In [2]:
#List (List should be included in square brackets)
list1 = [1,2,3,4,5]
print(list1)
type (list1)

[1, 2, 3, 4, 5]

list

In [3]:
#list can have multiple data types
list2=[1,2,3,"hello",True,3.25]
print(list2)
type(list2)

[1, 2, 3, 'hello', True, 3.25]

list

In [9]:
#adding elements to the list
list2=[1,2,3,"hello",True,3.25]
list2.append('Python')
print(list2)

#print elements of a list using their index
print(list2[0])
print(list2[3])
print(list2[5])

#lists allow duplicate values
list3=[1,2,3,"hello",True,3.25,3.25]
print(list3)
print(len(list3))

#initiating a empty list
list4=[]
print(list4)
type(list4)

[1, 2, 3, 'hello', True, 3.25, 'Python']
1
hello
3.25
[1, 2, 3, 'hello', True, 3.25, 3.25]
7
[]

list

In [11]:
#delete items from list
list5=[1,2,3,"hello",True,3.25,3.25]
print(list5)

del list5[6]
print(list5)

[1, 2, 3, 'hello', True, 3.25, 3.25]
[1, 2, 3, 'hello', True, 3.25]

In [13]:
#join two list
list6=[1,2,3,4]
list7=['Chatro dol er putki mar']
list8=list6+list7
print(list8)

[1, 2, 3, 4, 'Chatro dol er putki mar']

A tuple is an immutable(unchangeable) and ordered collection of elements in Python. Once created, its elements cannot be changed, added, or removed. Tuples are defined using parentheses ().

In [14]:
tuple1=(2,3,4,5,6)
print(tuple1)
type(tuple1)

(2, 3, 4, 5, 6)

tuple

In [15]:
#tuples allows multiple data types
tuple2=(1,2,3,"hello",True,3.25,"Machine Learning")
print(tuple2)
type(tuple2)

(1, 2, 3, 'hello', True, 3.25, 'Machine Learning')

tuple

In [17]:
#converting list into tuple

list1=[1,2,3,4,5]
print(list1)
type(list1)

tuple3=tuple(list1)
print(tuple3)
type(tuple3)

tuple3.append(6)
print(tuple3) # this will give error message : 'tuple' object has no attribute 'append'

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
print(len(tuple3))

5

In [19]:
#set
set1={1,2,3,4,5}
print(set1)
type(set1)

{1, 2, 3, 4, 5}

set

In [20]:
print(set1[0]) #N:B:set don't support indexing so it will give error message

TypeError: 'set' object is not subscriptable

In [22]:
#convert list to a set
list1=[1,2,3,4,5]
print(list1)

set2=set(list1)
print(set2)
type(set2)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

set

In [24]:
#set doesn't allow duplicate values
set3={1,2,3,4,5,5,5,5}
print(set3) #N:B: in set it will autometically delete duplicate value

{1, 2, 3, 4, 5}

A dictionary is an unordered, mutable collection of key-value pairs. It is used to store data values where each value is associated with a unique key.

In [26]:
my_dict = {
    "name": "Jawad",
    "age": 25,
    "city": "Dhaka"
}
print(my_dict)
type(my_dict)

print(my_dict["name"])
print(my_dict["age"])
print(my_dict["city"]) #Dictionary does not allow duplicate values

{'name': 'Jawad', 'age': 25, 'city': 'Dhaka'}
Jawad
25
Dhaka