<a href="https://colab.research.google.com/github/Nafi-10/pythonBeginners/blob/main/operators_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python:

1.Arithmetic Operators
2.Assignment Operators
3.Comparison Operators
4.Logical Operators
5.Identity Operators
6.Membership Operators

In [ ]:
# Arithmetic Operators
a = 10
b = 5

print("a + b =", a + b)  # Addition
print("a - b =", a - b)  # Subtraction
print("a * b =", a * b)  # Multiplication
print("a / b =", a / b)  # Division
print("a % b =", a % b)  # Modulus
print("a ** b =", a ** b) # Exponentiation
print("a // b =", a // b) # Floor Division

a + b = 15
a - b = 5
a * b = 50
a / b = 2.0
a % b = 0
a ** b = 100000
a // b = 2

Assignment Operators (+=, -=,*=,**=,%=)

In [1]:
a=5
print(a)

5

In [2]:
b=5
b+=3 #We're initializing a variable, increasing it by 3, and then printing the updated value.
print(b)

8

In [3]:
c=10
c-=3 #We declared a variable c with the value 10, subtracted 3 from it using the -= operator, and printed the result.
print(c)

7

Comparison Operators

In [4]:
a=10
b=20
print(a==b) #Checks if a is equal to b
print(a!=b) #Checks if a is not equal to b
print(a>b) #Checks if a is greater than b
print(a<b) #Checks if a is less than b
print(a>=b) #Checks if a is greater than or equal to b
print(a<=b) #Checks if a is less than or equal to b

False
True
False
True
False
True

Logical Operators ( and ,or , not)

In [5]:
a=10

print(a>20 and a>5) #Returns True if both statements are true
print(a>20 or a>5) #Returns True if one of the statements is true
print(not(a>20 and a>5)) #Reverse the result

False
True
True

Identity Operators (is , is not)

In [6]:
x=5
y=5

print(x is y) #Returns True if both variables are the same object
print(x is not y) #Returns True if both variables are not the same object

True
False

Membership Operators ( in , not in)

In [10]:
a=5
b=10

c= [1,2,3,4,5]
print(a in c) #Returns True if a sequence with the specified value is present in the object
print(b not in c) #Returns True if a sequence with the specified value is not present in the object

True
True